.nav-container {
    margin: 0px;
    box-sizing: border-box;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.subject-image {
    margin-left: 80px;
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: #3b4d66;
    
}
.subject-image img{
    
}
.subject-image span{
    margin-left: 20px;
}

.other-side {
    display: flex;
    flex-direction: row;
    margin-right: 80px;
}
.light {
    margin-right: 15px ;
}
.dark {
    margin-left: 15px;
}

.toggle-bar {
    background-color: blueviolet;
    width: 49px;
    height: 28px;
    border-radius: 30px;
    position: relative;
}

/*You're going to need to animate the ball so that when (yeah transition and shit) so that....blah blah typing is hard. You get what I mean
So...functionality first, and animation later*/
.toggle-ball {
    background-color: white;
    width: 21px;
    height: 21px;
    position: absolute;
    border-radius: 200px;
    top: 3.5px;
    left: 4px;
    bottom: 20px;
}