body{
    margin: 0px;
    padding: 0px;
    height: 120vh;
    background-color: #eceff3;
    font-family: "rubik";
}

.container {
    width: 90%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 90px;
    top: 30px;
}
.initial {
    width: 50%;
    
}
.question-count {
    height: 40vh;
    font-size: 1.3rem;
    color: #b8c9e0;
    font-weight: 400;
    line-height: 60px;
    font-style: italic;
}
.question-text {
    color: #2d394b;
    height: 30vh;
    font-size: 2.3rem;
    font-weight: 600;
    font-style: normal
}

.letter {
    background-color: #f4f6fa;
    width: 55px;
    height: 55px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #a6afbc;    
    transition: background-color 0.5s ease; 
}

li:hover .letter {
    color: #A729F5; /* Background color on hover */
  } 
.word {
    margin-left: 20px;
}

.answers-section ul li {
    display: flex;
    align-items: center;
    height: 100px;
    width: 465px;
    padding-left: 15px;
    color: #313e51;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 30px;
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
}

.answers-section ul li {
  transition: transform 0.3s ease-in-out;

}
.answers-section ul li:hover,
.answers-section ul li:focus-within {
  transform: translateY(-10px);

}
.container button{
    margin: auto;
    width: 466px;
    height: 70px;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #A729F5;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    left: 38px;
    border: none;

}
  
