*{
  background-image: url();
}
body {
  background-color: hwb(220 96% 2%);
  font-size: medium;
}
.Welcome {
  padding: 0px 60px;
  display: flex;
}

.Initial {
  width: 50%;
}

.Initial h1 {
  font-size: 4.5rem;
  color: #313e51;
}
.Initial span {
  font-weight: 10;
}
.Initial p {
  font-size: 1.6rem;
  font-style: italic;
  color: #3b4d66;
}
.column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  width: 50%;
  margin-top: 50px;
}
.img-div {
  border-radius: 10px;
  align-items: center;
  margin-left: 30px;
  margin-right: 20px;
  padding: 0;
  border: 0;
}
.column-container a {
  text-decoration: none;
  padding-top: 10px;
  font-weight: 600;
  padding-left: 50px;
  color: #313e51;
}
.column-item {
  width: 80vh;
  height: 14vh;
  border-radius: 10px;
  flex-direction: row;
  align-items: center;
  background-color: rgb(255, 255, 255);
  font-size: 1.6rem;
  justify-items: left;
  display: flex;
  border: #e5e7eb;
  transition: transform 0.3s ease-in-out;
}

.column-item:hover,
.column-item:focus-within {
  transform: translateY(-10px);
}
.column-item .img-out {
  padding: 5px;
  align-items: left;
  margin-top: 5px;
  width: 46px;
  height: 36px;
}

/* Tablet Responsive Styles */
@media (max-width: 768px) {
  .Welcome {
    padding: 30px;
    width: 100%;
    flex-direction: column;
    align-items: left;
  }

  .Initial {
    width: 100%;
    text-align: left;
  }

  .Initial h1 {
    font-size: 4.2rem;
  }

  .column-container {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.7rem;
  }

  .column-item {
    font-size: 1.8rem;
    width: 75vh;

  }
  .column-container a{
    padding: 0;
    align-items: center;
    width: 100%;
  }

  .column-item .img-out {
    width: 32px;
    height: 24px;
  }
}

